/* google fonts */
/* for weight 700 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');

/* for weight 400 */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* some common css */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

p{
    font-size: 16px;
    color:#6C6C6C;
    margin: 16px 0 10px 0;
}

h2{
    color: #18191F;
    font-size: 28px;
}
.my-button{
    background-color: #E02C6D;
    text-decoration: none;
    display: inline-block;
    width: 168px;
    height: 44px;
    color: white;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header section */
header{
    height: 677px;
    width: 100%;
    background-color: #2d25a0;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:135px;
}

.header-content:hover .banner{
    transform: scale(1.2) rotate(20deg);
}

.top-heading{
   width:590px;
   height:300px;
   
}

.top-heading h1{
    color: #ffffff;
    font-weight: 700;
    font-size: 63px;
    line-height: 45%;
}

.fa-arrow-right{
    color: #ffffff;
    margin-left: 8px;
}

.banner{
    width: 556px;
    height: 438px;
    transition: transform 2s ease-in-out;
}

/* main section css */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-section{
    width: 1050px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 27px;
}

.player{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);;
}

.player .player-info{
    margin: 15px;
}

.player img{
    width: 300px;
    height: 256px;
}

/* award section */
.award-section{
    width: 1050px;
    margin-top: 30px;
}

.text-center{
    text-align: center;
    margin: auto;
}

.awards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
    margin-top: 70px;
}

.award{
    margin-bottom: 40px;
    width: 330px;
    height: 270px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.award-image{
    width: 300px;
    height: 240px;
    margin:15px 0 15px 15px;
}

.award h2{
    background-color: #2d25a0;
    color: #fff;
}

/* contact section  */
.contact-section{
    width: 1020px;
    margin-top: 100px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
}

.contact-form{
    display: flex;
}

.contact-form input{
    width: 330px;
}

/* footer section */
footer{
    display: flex;
    justify-content: center;
    margin-bottom: 63px;
}

.footer-content{
    width: 483.87px;
    height: 213px;
    margin-top: 158px;
}

.logo img{
    height: 110px;
    width: 100%;
}

.footer-icon{
    height: 32px;
    text-align: center;
    margin-top: 20px;
}

.fab{
    color: #969BAB;
    font-size: 32px;
    margin-right: 14px;
}

.copyright{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    font-weight:100;
}

/*Media Queries*/
/* Mobile view */
@media only screen and (max-width:768px) {
   
    .header-content{
        flex-direction: column;
    }

    .top-heading{
        width: 329px;
        height: 138px;
        margin-right: 0;
     }

     .top-heading h1{
        font-size: 36px;
        line-height: 80%;
    }

    .banner{
        width: 329px;
        height: 259px;
        margin-top: 120px; 
    }

    .header-content:hover .banner{
        transform: scale(1) rotate(0);
    }

    .player-section{
        width: 100%;
        margin-top: 37px;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }

    .award-section{
        width: 100%;
        margin-bottom: 70px;
    }

    .text-center{
        width: 330px;
        padding: 0 10px;
        margin-bottom: -70px;
    }

    .awards{
        grid-template-columns: repeat(1,1fr);
    }

    .award{
        width: 330px;
        margin: 20px auto;
    }

    .award h2{
        margin: 0;
        padding: 0;
    }

    .contact-section{
        width: 300px;
        flex-direction: column;
        margin: 30px;
    }

    .footer-content{
        width: 330px;
        margin-top: 25px;
    }

    .logo img{
        width: 100%;
    }
}

/* Tablet view  */
@media only screen and (min-width:768px) and (max-width:992px) {
    .header-content{
        flex-direction: column;
    }
    .top-heading{
        width: 329px;
        height: 138px;
        margin-right: 0;
     }

     .top-heading h1{
        font-size: 36px;
        line-height: 80%;
    }

    .banner{
        width: 329px;
        height: 259px;
        margin-top: 120px; 
    }
    .header-content:hover .banner{
        transform: scale(1) rotate(0);
    }

    .player-section{
        width: 100%;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
    }

    .award-section{
        width: 100%;
    }

    .awards{
        grid-template-columns: repeat(2,1fr);
    }
    .award{
        margin: 20px auto;
    }

    .contact-section{
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

}
